// Variables
$font-family: Arial, sans-serif;
$background-body:ghostwhite;
$card-bg-color: white;
$card-border-radius: 8px;
$card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$max-width: 400px;
$padding: 20px;

// Estilos para cuerpo del documento
body {
    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: background-body;
    padding: 0;
    margin: 0;

    // Estilos para una tarjeta genérica
    .card {
        background-color: $card-bg-color;
        border-radius: $card-border-radius;
        box-shadow: $card-box-shadow;
        max-width: $max-width;
        padding: $padding;
        margin: 0 auto;
    }

    // Estilos para un contenedor genérico
    .contenedor {
        max-width: $max-width;
        margin: 0 auto;
        padding: $padding;
    }

    // Estilos para una imagen genérica
    .imagen {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: $padding; // Uso de la variable de padding para el margen inferior
    }
}